@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 14px;
}
.navbar{
background-color:#1c2042;
color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  
}
/* nav input{
  width: 20%;
  display: inline-block;

} */

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  font-weight: 500;
}

.form-container{
  width: 80vw;
  /* border: 2px solid red; */
  /* height: 60vh; */
  margin: auto;
  background-color: #fff;
  padding: 0.5rem 1rem;
  min-width: 26.25rem;
  border-radius: 10px;
  /* box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15); */
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: left;
  color: #1c2042;
  margin-bottom: 1rem;
}

p {
  margin: auto;
  width: 100%;
  text-align: center;
  color: rgba(28, 32, 66, 0.6);
  font-size: 0.8rem;
  font-weight: 400;
}

.form {
  width: 100%;
  position: relative;
  margin: 0 auto 1rem auto;
  margin-top: 0;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 1rem;
  column-gap: 0.5rem;
  /* margin-bottom: 0.3rem; */
}

label {
  color: #1c2042;
  font-size: 0.8rem;
  font-weight: 600;
}


.form input {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.25rem;
  border-radius: 5px;
  border: 0.2px solid #c4cae0;
  cursor: pointer;
  /* margin-top: 0.5rem; */
}



input:hover {
  outline: none;
  border-color: #1c2042;
}

input.btn-submit,
.btn-submit,
.btn-log{
  border: none;
  padding: 0.3rem 0.5rem;
  background: linear-gradient(135deg, #6f6df4, #4c46f5);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  width: 20%;
  margin-top: 0.8rem;
}
.btn-log{
  background: red;
  width: 10%;
  margin-top: 0;
  border-radius: 0.5rem;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1c2042; */
  padding: 1rem 5rem;
}


input.btn-submit:hover,
.btn-submit:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #4c46f5, #6f6df4);
}

/* details css */

.item-container {
  margin-top: 2rem;
  /* border: 2px solid bl; */
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  border: 2px solid rgb(227, 155, 155);
  width: 75%;
  box-shadow: 2px 2px wheat;
  border-radius: 0.5rem;
}
.list-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.list-item:hover .title {
  color: var(--clr-grey-5);
}
.title {
  margin-bottom: 1rem;
  color: var(--clr-grey-1);

  border-bottom: 2px solid rgb(61, 58, 58);
}

